#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
#picture {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

#social {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

a {
    text-decoration: none;
}